#mainNav {
  min-height: 56px;
  background-color: #fff; }
  #mainNav .navbar-brand {
    color: #161616;
    font-weight: 700; }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: .75rem;
    color: #0069D9;
    border: 1px solid #0069D9; }
  #mainNav .navbar-toggler:focus {
    outline: none; }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent; }
      #mainNav .nav-link {
        padding: 2rem 1.5rem;
        color: rgba(255, 255, 255, 0.7); }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); } }

.index-header {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .index-header h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: .8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .index-header h2 {
    max-width: 20rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7); }
  @media (min-width: 768px) {
    .index-header h1 {
      font-size: 4rem;
      line-height: 4rem; } }
  @media (min-width: 992px) {
    .index-header h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: .8rem; }
    .index-header h2 {
      max-width: 30rem;
      font-size: 1.25rem; } }
  .index-header .btn {
    padding: 0.5rem 1rem;
    border: 0;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    font-size: 60%; }
  .index-header .btn-primary {
    background-color: #0069D9; }
