<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {% if lang == langCategory.cn %}
                GL-TURBO 首页
            {% elif lang == langCategory.en %}
                GL-TURBO Index
            {% endif %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block custom_css %} {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-static-top mb-20" id="mainNav">
    <div class="container">
        {% if request.user.is_authenticated %}
            <a class="navbar-brand " href="{% url "user_projects" lang request.user.id %}">
                GL-TURBO
            </a>
        {% else %}
            <a class="navbar-brand " href="{% url "login"%}">
                GL-TURBO
            </a>
        {% endif %}
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if lang == langCategory.cn %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="langDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                多语言
                            </a>
                            <div class="dropdown-menu" aria-labelledby="langDropdown">
                                <a class="dropdown-item" href="{{ langUrls.en }}">English</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="projectDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                项目列表
                            </a>
                            <div class="dropdown-menu" aria-labelledby="projectDropdown">
                                <a class="dropdown-item" href="{% url "user_projects" lang request.user.id %}">我的项目</a>
                                <a class="dropdown-item" href="{% url "all_projects" lang %}">总项目</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ request.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="">编辑资料</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" id="logout" href="#">
                                    <form action={% url "logout" %} method="get">
                                        {% csrf_token %}
                                        <button class="btn btn-block btn-danger" type="submit" name="button">退出</button>
                                    </form>
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="langDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                多语言
                            </a>
                            <div class="dropdown-menu" aria-labelledby="langDropdown">
                                <a class="dropdown-item" href="{{ langUrls.en }}">English</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "login" %}" class="nav-link">登录</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "register" %}" class="nav-link">注册</a>
                        </li>
                    {% endif %}
                {% elif lang == langCategory.en %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="langDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Translations
                            </a>
                            <div class="dropdown-menu" aria-labelledby="langDropdown">
                                <a class="dropdown-item" href="{{ langUrls.cn }}">中文</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="projectDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Projects
                            </a>
                            <div class="dropdown-menu" aria-labelledby="projectDropdown">
                                <a class="dropdown-item" href="{% url "user_projects" lang request.user.id %}">My Projects</a>
                                <a class="dropdown-item" href="{% url "all_projects" lang %}">All Projects</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ request.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" id="logout" href="#">
                                    <form action={% url "logout" %} method="get">
                                        {% csrf_token %}
                                        <button class="btn btn-block btn-danger" type="submit" name="button">Logout</button>
                                    </form>
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="langDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Translations
                            </a>
                            <div class="dropdown-menu" aria-labelledby="langDropdown">
                                <a class="dropdown-item" href="{{ langUrls.cn }}">中文</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "login" %}" class="nav-link">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "register" %}" class="nav-link">Sign Up</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<footer>
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block custom_js %}{% endblock %}
</body>
</html>