<!doctype html>
<html lang="en">
{% load render_bundle from webpack_loader %}
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GL-TURBO Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/register_login.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
</head>
<body>
<div>
    <div class="register-login-page">
        <div class="register-login-page-content">
            <div class="card register-login-container-content">

                <div class="register-login-header">
                    <div class="header-text">GL-TURBO</div>
                    <div class="header-slogan">
                        Welcome Back! Please Log In
                    </div>
                </div>

                <div class="card-body">
                    <div class="register-login-content">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form action="" method="post" id="loginForm">
                            <div class="register-login-block">
                                <div class="register-login-form-group">
                                    <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Username Or Email" required>
                                </div>
                                <div class="register-login-common-error hidden" id="emailError"></div>
                            </div>
                            <div class="register-login-block">
                                <div class="register-login-form-group">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                </div>
                                <div class="register-login-common-error hidden" id="passwordError"></div>
                            </div>
                            <div class="login-option">
                                <button type="button" class="login-forget-password-btn">Forget Password?</button>
                            </div>
                            {% csrf_token %}
                            {% if next %}
                                <button type="button" class="btn btn-primary register-login-submit-button" id="loginBtn" data-url="{{ next }}">Login</button>
                            {% else %}
                                <button type="button" class="btn btn-primary register-login-submit-button" id="loginBtn" data-url="">Login</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="register-login-switch">
                        Not a member？<span id="switchBtn">Sign Up</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/toastr.min.js' %}"></script>
{% render_bundle 'login' 'js' 'DEFAULT' %}

</body>
</html>