{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    GL-TURBO 重置密码
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/forget_pwd.css' %}">
{% endblock %}

{% block content %}
    <div class="forget-password-container">
        <div class="forget-password-form-container">
            <form action="" id="pwdResetForm">
                <div class="forget-pwd-form-header">
                    <div class="forget-pwd-form-header-title">重置密码</div>
                    <div class="forget-pwd-form-header-subtitle">请填写新的密码</div>
                </div>

                <div class="forget-pwd-block">
                    <div class="forget-pwd-form-group">
                        <input type="password" id="password1" name="password1" class="form-control" placeholder="密码（6-20位，只能包含数字，字母，下划线）" required>
                    </div>
                    <div class="forget-pwd-common-error hidden" id="password1Error"></div>
                </div>

                <div class="forget-pwd-block">
                    <div class="forget-pwd-form-group">
                        <input type="password" id="password2" name="password2" class="form-control" placeholder="确认密码" required>
                    </div>
                    <div class="forget-pwd-common-error hidden" id="password2Error"></div>
                </div>


                <input type="hidden" value="{{ email }}" name="email">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary forget-pwd-submit-button">提交</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block custom_js%}
    <script src="{% static 'js/password_reset.js' %}"></script>
{% endblock %}