<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GL-TURBO 注册</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/register_login.css' %}">
</head>
<body>
<div>
    <div class="register-login-page">
        <div class="register-login-page-content">
            <div class="card register-login-container-content">

                <div class="register-login-header">
                    <div class="header-text">GL-TURBO</div>
                    <div class="header-slogan">
                        注册GL-TURBO账号，选择适合您的鼓风机
                    </div>
                </div>

                <div class="card-body">
                    <div class="register-login-content">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form action="{% url 'register' %}" method="post" id="registerForm">
                            <div class="register-login-block">
                                <div class="register-login-form-group">
                                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="邮箱" required>
                                </div>
                                <div class="register-login-common-error hidden" id="emailError"></div>
                            </div>
                            <div class="register-login-block">
                                <div class="register-login-form-group">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="密码（6-20位，只能包含数字，字母，下划线）" required>
                                </div>
                                <div class="register-login-common-error hidden" id="passwordError"></div>
                            </div>
                            <div class="register-login-block">
                                <div class="register-login-captcha-group">
                                    {{ register_form.captcha }}
                                </div>
                                <div class="register-login-captcha-error hidden" id="captchaError"></div>
                            </div>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary register-login-submit-button" id="registerBtn">注册</button>
                        </form>
                    </div>
                </div>
                <div class="register-login-switch">
                        已有账号？<span id="switchBtn">登录</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="{% static 'js/register.js' %}"></script>
</body>
</html>