{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% block title %}
    {% if lang == langCategory.cn %}
        GL-TURBO 创建鼓风机选型
    {% elif lang == langCategory.en %}
        GL-TURBO Create Sizer
    {% endif %}
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
{% endblock %}

{% block content %}
	<main class="container">
        {% if lang == langCategory.cn %}
            <h3>创建选型</h3>
            <hr>

            <form id="turboForm" method="post">
                <!-- 选择单位组件 -->
                <div class="selection">
                    <label for="isImperial">选择单位</label>
                    <select name="isImperial" id="isImperial">
                        <option value="metric" selected>公制</option>
                        <option value="imperial">英制</option>
                    </select>
                </div>

                <div class="selection">
                    <button type="button" class="btn btn-light" id="uploadBtn">使用测试数据</button>
                    <input type="file" id="uploadFile" class="hidden" name="uploadFile">
                    <label id="uploadLb" class="ml-5"></label>
                </div>

                <!-- 项目信息 -->
                <div class="card project-sec">
                    <div class="card-header card-header-active">
                        <span class="card-header-icon"></span>
                        基础信息
                    </div>

                    <div class="card-body scroll-hidden flex-card-body">
                        <div class="form-row">

                            <div class="col-sm-2 form-group">
                                <label for="projectAltitude">现场海拔
                                    <span data-unit="length">m</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectAltitude" name="projectAltitude" value="0" required>
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectEnvPres">环境压力
                                    <span data-unit="absPress">bara</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectEnvPres" name="projectEnvPres" value="1.01325" disabled>
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectInletPres">系统进口压力
                                    <span data-unit="absPress">bara</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectInletPres" name="projectInletPres" value=0.988>
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="frequencySelect">电网频率</label>
                                <select name="frequencySelect" id="frequencySelect" class="form-control">
                                    <option value="50">50HZ</option>
                                    <option value="60">60HZ</option>
                                </select>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectUnitsNum">机组数量
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectUnitsNum" name="projectUnitsNum" value="1">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectVolt">电机电压
                                    <span>(volt)</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectVolt" name="projectVolt" value="400">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="col-sm-2 form-group">
                                <label for="projectMaterial">叶轮材料</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectMaterial" name="projectMaterial" value="ALU">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectSafetyFactor">安全系数</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectSafetyFactor" name="projectSafetyFactor" value="1">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectEIRating">EI Rating</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectEIRating" name="projectEIRating" value="3">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectEnvTemp">环境温度
                                    <span data-unit="temp">&#8451;</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectEnvTemp" name="projectEnvTemp" value=45>
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 额定流量定义 -->
                <div class="card def-sec">
                    <div class="card-header card-header-active">
                        <span class="card-header-icon"></span>
                        额定流量定义
                    </div>

                    <div class="card-body scroll-hidden flex-card-body">
                        <div class="form-row">
                            <div class="col-sm-2 form-group">
                                <label for="ratingFlow">额定流量
                                    <span data-unit="flow">m<sup>3</sup>/h</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="ratingFlow" name="ratingFlow" value="3486">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="ratingPressure">额定气压
                                    <span data-unit="absPress">bara</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="ratingPressure" name="ratingPressure" value="1.01325">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="ratingTemp">额定温度
                                    <span data-unit="temp">&#8451;</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="ratingTemp" name="ratingTemp" value="20">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="ratingHumi">额定相对湿度
                                    <span>(%)</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="ratingHumi" name="ratingHumi" value="70">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 额定工况点 -->
                <div class="card rate-sec">
                    <div class="card-header card-header-active">
                        <span class="card-header-icon"></span>
                        额定工况点
                    </div>

                    <div class="card-body scroll-auto flex-card-body">
                        <div class="form-row">
                            <div class="col-sm-4">
                                <table class="table table-bordered table-striped text-center mt-24">
                                    <tr>
                                        <th scope="col" colspan="3">
                                            额定工况点
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="ratingPointInletPressure">
                                                压力
                                                <span data-unit="absPress">bara</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="0.988" id="ratingPointInletPressure" name="ratingPointInletPressure">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="ratingPointInletTemp">
                                                进气温度
                                                <span data-unit="temp">&#8451;</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="40" id="ratingPointInletTemp" name="ratingPointInletTemp">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope=row>
                                            <label for="ratingPointHumi">
                                                进气相对湿度
                                                <span>(%)</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="90" id="ratingPointHumi" name="ratingPointHumi">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope=row>
                                            <label for="ratingPointInletLoss">
                                                进气损失（过滤袋）
                                                <span data-unit="gaugePress">barg</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="0.006" id="ratingPointInletLoss" name="ratingPointInletLoss">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope=row>
                                            <label for="ratingPointOutletLoss">
                                                出气损失
                                                <span data-unit="gaugePress">barg</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="0" id="ratingPointOutletLoss" name="ratingPointOutletLoss">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope=row>
                                            <label for="ratingPointOutPressure">
                                                出口压力
                                                <span data-unit="gaugePress">barg</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="0.6" id="ratingPointOutPressure" name="ratingPointOutPressure">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!--
                    工况组件
                    交互有：
                    初次加载时加载默认数据，包括默认的额定工况点以及三个工况
                    添加工况按钮-> 点击之后会出现新的单个工况组件，总组件个数不能超过6个
                    新添加的组件数据为默认数据

                    每个工况组件有拷贝按钮可以用来进行数据拷贝

                    已经出现的工况点可以进行删除，最后一行可以创建新的工况点

                    每个工况组件都有删除按钮，可以删除该组件元素

                 -->
                <div class="card condition-sec">
                    <div class="card-header card-header-active">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="card-header-icon"></span>
                                工况曲线
                            </div>

                            <button type="button" class="btn btn-light condition-table-add">添加工况曲线</button>
                        </div>
                    </div>

                    <div class="card-body scroll-auto flex-card-body">
                        <div class="form-row condition-table-wrapper">
                        </div>
                    </div>

                </div>

                <input type="hidden" name="workingConditions" id="workingConditions">

                <!-- 性能调节 -->
                <div class="card performance-sec">
                    <div class="card-header card-header-active">
                        <span class="card-header-icon"></span>
                        性能调节
                    </div>

                    <div class="card-body scroll-hidden flex-card-body">
                        <div class="form-row">
                            <div class="col-sm-2 form-group">
                                <label for="maxFlowCoeff">最大流量系数</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="maxFlowCoeff" name="maxFlowCoeff" value="0.1089">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="maxPressureCoeff">压力系数</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="maxPressureCoeff" name="maxPressureCoeff" value="1.1250">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-secondary sub-btn" id="checkBtn">查看性能曲线</button>
                    </div>
                </div>
            </form>
        {% elif lang == langCategory.en %}
            <h3>Create Sizer</h3>
            <hr>

            <form id="turboForm" method="post">
                <!-- 选择单位组件 -->
                <div class="selection">
                    <label for="isImperial">Choose Units</label>
                    <select name="isImperial" id="isImperial">
                        <option value="metric" selected>metric</option>
                        <option value="imperial">imperial</option>
                    </select>
                </div>

                <div class="selection">
                    <button type="button" class="btn btn-light" id="uploadBtn">Use Test Data</button>
                    <input type="file" id="uploadFile" class="hidden" name="uploadFile">
                    <label id="uploadLb" class="ml-5"></label>
                </div>

                <div class="card project-sec">
                    <div class="card-header card-header-active">
                        <span class="card-header-icon"></span>
                        Basic Data
                    </div>

                    <div class="card-body scroll-hidden flex-card-body">
                        <div class="form-row">

                            <div class="col-sm-2 form-group">
                                <label for="projectAltitude">Site Elevation
                                    <span data-unit="length">m</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectAltitude" name="projectAltitude" value="0" required>
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectEnvPres">Barometric Pressure
                                    <span data-unit="absPress">bara</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectEnvPres" name="projectEnvPres" value="1.01325" disabled>
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectInletPres">Inlet Pressure
                                    <span data-unit="absPress">bara</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectInletPres" name="projectInletPres" value=0.988>
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="frequencySelect">Grid Frequency</label>
                                <select name="frequencySelect" id="frequencySelect" class="form-control">
                                    <option value="50">50HZ</option>
                                    <option value="60">60HZ</option>
                                </select>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectUnitsNum">Number Of Units</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectUnitsNum" name="projectUnitsNum" value="1">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectVolt">Motor Voltage
                                    <span>(volt)</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectVolt" name="projectVolt" value="400">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="col-sm-2 form-group">
                                <label for="projectMaterial">Impeller Material</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectMaterial" name="projectMaterial" value="ALU">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectSafetyFactor">SF</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectSafetyFactor" name="projectSafetyFactor" value="1">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectEIRating">EI Rating</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectEIRating" name="projectEIRating" value="3">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="projectEnvTemp">Ambient Temperature
                                    <span data-unit="temp">&#8451;</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="projectEnvTemp" name="projectEnvTemp" value=45>
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 额定流量定义 -->
                <div class="card def-sec">
                    <div class="card-header card-header-active">
                        <span class="card-header-icon"></span>
                        Flow Rating
                    </div>

                    <div class="card-body scroll-hidden flex-card-body">
                        <div class="form-row">
                            <div class="col-sm-2 form-group">
                                <label for="ratingFlow">Flow
                                    <span data-unit="flow">m<sup>3</sup>/h</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="ratingFlow" name="ratingFlow" value="3486">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="ratingPressure">Pressure
                                    <span data-unit="absPress">bara</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="ratingPressure" name="ratingPressure" value="1.01325">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="ratingTemp">Temperature
                                    <span data-unit="temp">&#8451;</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="ratingTemp" name="ratingTemp" value="20">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="ratingHumi">Relative Humidity
                                    <span>(%)</span>
                                </label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="ratingHumi" name="ratingHumi" value="70">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 额定工况点 -->
                <div class="card rate-sec">
                    <div class="card-header card-header-active">
                        <span class="card-header-icon"></span>
                        Rating
                    </div>

                    <div class="card-body scroll-auto flex-card-body">
                        <div class="form-row">
                            <div class="col-sm-4">
                                <table class="table table-bordered table-striped text-center mt-24">
                                    <tr>
                                        <th scope="col" colspan="3">
                                           Rating
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="ratingPointInletPressure">
                                                Barometric Pressure
                                                <span data-unit="absPress">bara</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="0.988" id="ratingPointInletPressure" name="ratingPointInletPressure">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="ratingPointInletTemp">
                                                Inlet Temperature
                                                <span data-unit="temp">&#8451;</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="40" id="ratingPointInletTemp" name="ratingPointInletTemp">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope=row>
                                            <label for="ratingPointHumi">
                                                Relative Humidity
                                                <span>(%)</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="90" id="ratingPointHumi" name="ratingPointHumi">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope=row>
                                            <label for="ratingPointInletLoss">
                                                Inlet Pressure Loss
                                                <span data-unit="gaugePress">barg</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="0.006" id="ratingPointInletLoss" name="ratingPointInletLoss">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope=row>
                                            <label for="ratingPointOutletLoss">
                                                Outlet Pressure Loss
                                                <span data-unit="gaugePress">barg</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="0" id="ratingPointOutletLoss" name="ratingPointOutletLoss">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope=row>
                                            <label for="ratingPointOutPressure">
                                                Pressure
                                                <span data-unit="gaugePress">barg</span>
                                            </label>
                                        </th>
                                        <td colspan="2">
                                            <div class="value-input">
                                                <input type="text" class="form-control" value="0.6" id="ratingPointOutPressure" name="ratingPointOutPressure">
                                                <div class="input-error hidden"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!--
                    工况组件
                    交互有：
                    初次加载时加载默认数据，包括默认的额定工况点以及三个工况
                    添加工况按钮-> 点击之后会出现新的单个工况组件，总组件个数不能超过6个
                    新添加的组件数据为默认数据

                    每个工况组件有拷贝按钮可以用来进行数据拷贝

                    已经出现的工况点可以进行删除，最后一行可以创建新的工况点

                    每个工况组件都有删除按钮，可以删除该组件元素

                 -->
                <div class="card condition-sec">
                    <div class="card-header card-header-active">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="card-header-icon"></span>
                                Duty
                            </div>

                            <button type="button" class="btn btn-light condition-table-add">Add Duty</button>
                        </div>
                    </div>

                    <div class="card-body scroll-auto flex-card-body">
                        <div class="form-row condition-table-wrapper">
                        </div>
                    </div>

                </div>

                <input type="hidden" name="workingConditions" id="workingConditions">

                <!-- 性能调节 -->
                <div class="card performance-sec">
                    <div class="card-header card-header-active">
                        <span class="card-header-icon"></span>
                        Performance
                    </div>

                    <div class="card-body scroll-hidden flex-card-body">
                        <div class="form-row">
                            <div class="col-sm-2 form-group">
                                <label for="maxFlowCoeff">Max Flow Coefficient</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="maxFlowCoeff" name="maxFlowCoeff" value="0.1089">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 form-group">
                                <label for="maxPressureCoeff">Pressure Coefficient</label>
                                <div class="value-input">
                                    <input type="text" class="form-control" id="maxPressureCoeff" name="maxPressureCoeff" value="1.1250">
                                    <div class="input-error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-secondary sub-btn" id="checkBtn">Check Output</button>
                    </div>
                </div>
            </form>
        {% endif %}
	</main>

    <div class="wrapper hidden">
    	<div class="load-background">
    		<div class="load">
    			<p>loading</p>
    			<div class="k-line k-line1-1"></div>
    			<div class="k-line k-line1-2"></div>
    			<div class="k-line k-line1-3"></div>
    		</div>
    	</div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/toastr.min.js' %}"></script>
    {% render_bundle 'sizerCreate' 'js' 'DEFAULT' %}
{% endblock %}
