{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    GL-TURBO 鼓风机选型
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-20">
                <h2>鼓风机选型</h2>
            </div>

            <div class="col-12">
                <form action="" id="selectForm" method="post">
                    <div class="card mb-20">
                        <div class="card-header">
                            <h5>项目信息</h5>
                        </div>

                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-sm-3 form-group">
                                    <label for="projectName">项目名称</label>
                                    <input type="text" class="form-control" id="projectName" name="projectName">
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="projectNumber">项目编号</label>
                                    <input type="text" class="form-control" id="projectNumber" name="projectNumber">
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="projectLocation">现场位置</label>
                                    <input type="text" class="form-control" id="projectLocation" name="projectLocation">
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="projectAltitude">现场海拔(m)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">(必须为数字)</span>
                                    </label>
                                    <input type="text" class="form-control" id="projectAltitude" name="projectAltitude" value="0" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="projectInletPressure">进口压力(BarA)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">(必须为大于0的数字)</span>
                                    </label>
                                    <input type="text" class="form-control" id="projectInletPressure" name="projectInletPressure" value="0.988" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="projectFrequency">电网频率(Hz)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">(必须为大于0的数字)</span>
                                    </label>
                                    <input type="text" class="form-control" id="projectFrequency" name="projectFrequency" value="50" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="projectMachNums">机组数量
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">(必须为大于0的整数)</span>
                                    </label>
                                    <input type="text" class="form-control" id="projectMachNums" name="projectMachNums" value="1" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="machVolt">电机电压(Volt)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的整数</span>
                                    </label>
                                    <input type="text" class="form-control" id="machVolt" name="machVolt" value="400" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="securityCoeff">安全系数
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="securityCoeff" name="securityCoeff" value="1" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="eiRating">EI Rating
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="eiRating" name="eiRating" value="3" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="ambTemp">环境温度(℃)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="ambTemp" name="ambTemp" value="45" required>
                                    <div class="error hidden"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card mb-20">
                        <div class="card-header">
                            <h5>额定流量定义</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-sm-3 form-group">
                                    <label for="ratedFlow">流量(m<sup>3</sup>/h)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="ratedFlow" name="ratedFlow" value="3486" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="ratedPressure">压力(BarA)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="ratedPressure" name="ratedPressure" value="1.01325" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="ratedTemp">温度(℃)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="ratedTemp" name="ratedTemp" value="20" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="ratedHumidity">湿度(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="ratedHumidity" name="ratedHumidity" value="70" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 额定工况点定义 -->
                    <div class="card mb-20">
                        <div class="card-header">
                            <h5>额定工况点定义</h5>
                        </div>

                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-sm-3 form-group">
                                    <label for="rpPressure">环境压力(BarA)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="rpPressure" name="rpPressure" value="0.988" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="rpInletLoss">进气损失(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="rpInletLoss" name="rpInletLoss" value="0.006" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="rpOutLetLoss">出气损失(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="rpOutLetLoss" name="rpOutLetLoss" value="0.0" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="rpOutletPressure">出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="rpOutletPressure" name="rpOutletPressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-3 form-group">
                                    <label for="rpInletTemp">进气温度(℃)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="rpInletTemp" name="rpInletTemp" value="40" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="rpInletHumidity">进气湿度(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="rpInletHumidity" name="rpInletHumidity" value="90" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {#快捷键#}
                    <div></div>


                    <!-- 工况一定义 -->
                    <div class="card mb-20">
                        <div class="card-header">
                            <h5>工况曲线一定义</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-sm-4 form-group">
                                    <label for="dp1Pressure">环境压力(BarA)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1Pressure" name="dp1Pressure" value="0.988" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-4 form-group">
                                    <label for="dp1InletTemp">进气温度(℃)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1InletTemp" name="dp1InletTemp" value="40" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-4 form-group">
                                    <label for="dp1InletHumidity">进气相对湿度(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1InletHumidity" name="dp1InletHumidity" value="90" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p1flow">工况点一相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p1flow" name="dp1p1flow" value="100" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p1Pressure">工况点一出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p1Pressure" name="dp1p1Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p2flow">工况点二相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p2flow" name="dp1p2flow" value="90" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p2Pressure">工况点二出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p2Pressure" name="dp1p2Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p3flow">工况点三相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p3flow" name="dp1p3flow" value="80" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p3Pressure">工况点三出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p3Pressure" name="dp1p3Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p4flow">工况点四相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p4flow" name="dp1p4flow" value="70" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p4Pressure">工况点四出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p4Pressure" name="dp1p4Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p5flow">工况点五相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p5flow" name="dp1p5flow" value="60" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p5Pressure">工况点五出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p5Pressure" name="dp1p5Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p6flow">工况点六相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p6flow" name="dp1p6flow" value="45" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp1p6Pressure">工况点六出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp1p6Pressure" name="dp1p6Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 工况二定义 -->
                    <div class="card mb-20">
                        <div class="card-header">
                            <h5>工况曲线二定义</h5>
                        </div>

                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-sm-4 form-group">
                                    <label for="dp2Pressure">环境压力(BarA)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2Pressure" name="dp2Pressure" value="0.988" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-4 form-group">
                                    <label for="dp2InletTemp">进气温度(℃)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2InletTemp" name="dp2InletTemp" value="20" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-4 form-group">
                                    <label for="dp2InletHumidity">进气相对湿度(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2InletHumidity" name="dp2InletHumidity" value="70" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p1flow">工况点一相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p1flow" name="dp2p1flow" value="100" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p1Pressure">工况点一出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p1Pressure" name="dp2p1Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p2flow">工况点二相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p2flow" name="dp2p2flow" value="90" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p2Pressure">工况点二出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p2Pressure" name="dp2p2Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p3flow">工况点三相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p3flow" name="dp2p3flow" value="80" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p3Pressure">工况点三出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p3Pressure" name="dp2p3Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p4flow">工况点四相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p4flow" name="dp2p4flow" value="70" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p4Pressure">工况点四出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p4Pressure" name="dp2p4Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p5flow">工况点五相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p5flow" name="dp2p5flow" value="60" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p5Pressure">工况点五出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p5Pressure" name="dp2p5Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p6flow">工况点六相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p6flow" name="dp2p6flow" value="45" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp2p6Pressure">工况点六出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp2p6Pressure" name="dp2p6Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 工况三定义 -->
                    <div class="card mb-20">
                        <div class="card-header">
                            <h5>工况曲线三定义</h5>
                        </div>

                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-sm-4 form-group">
                                    <label for="dp3Pressure">环境压力(BarA)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3Pressure" name="dp3Pressure" value="0.988" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-4 form-group">
                                    <label for="dp3InletTemp">进气温度(℃)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3InletTemp" name="dp3InletTemp" value="0" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-4 form-group">
                                    <label for="dp3InletHumidity">进气相对湿度(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3InletHumidity" name="dp3InletHumidity" value="60" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p1flow">工况点一相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p1flow" name="dp3p1flow" value="100" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p1Pressure">工况点一出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p1Pressure" name="dp3p1Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p2flow">工况点二相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p2flow" name="dp3p2flow" value="90" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p2Pressure">工况点二出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p2Pressure" name="dp3p2Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p3flow">工况点三相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p3flow" name="dp3p3flow" value="80" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p3Pressure">工况点三出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p3Pressure" name="dp3p3Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p4flow">工况点四相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p4flow" name="dp3p4flow" value="70" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p4Pressure">工况点四出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p4Pressure" name="dp3p4Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p5flow">工况点五相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p5flow" name="dp3p5flow" value="60" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p5Pressure">工况点五出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p5Pressure" name="dp3p5Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p6flow">工况点六相对流量(%)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0，小于100的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p6flow" name="dp3p6flow" value="45" required>
                                    <div class="error hidden"></div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="dp3p6Pressure">工况点六出口压力(BarG)
                                        <span class="asteriskField">*</span>
                                        <span class="inputTip">必须为大于0的数字</span>
                                    </label>
                                    <input type="text" class="form-control" id="dp3p6Pressure" name="dp3p6Pressure" value="0.6" required>
                                    <div class="error hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="well well-sm mb-20">
                        <button type="button" class="btn btn-primary" id="selectButton">提交</button>
                        <div class="error hidden"></div>
                    </div>

                    {% csrf_token %}
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card no-display" id="graphCard">
                    <div class="card-header">
                        鼓风机选择
                    </div>

                    <div class="card-body" id="graphCardBody">
                        <div id="tableContent"></div>
                        <div class="row">
                            <div class="col-lg-6">
                                <canvas id="firstChart" height="275px"></canvas>
                            </div>
                            <div class="col-lg-6">
                                <canvas id="secondChart" height="275px"></canvas>
                            </div>
                            <div class="col-lg-6">
                                <canvas id="threeChart" height="275px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block custom_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="{% static 'js/turbo.js' %}"></script>
{% endblock %}
