{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    {% if lang == langCategory.cn %}
        GL-TURBO 用户项目列表
    {% elif lang == langCategory.en %}
        GL-TURBO My Projects
    {% endif %}
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
{% endblock %}

{% block content %}
    <main class="container">
        <div class="d-flex justify-content-between">
            {% if lang == langCategory.cn %}
                <h3>我的项目</h3>
                <form action="{% url "create_project" lang request.user.id %}" method="get">
                    <button type="submit" class="btn btn-secondary">创建项目</button>
                </form>
            {% elif lang == langCategory.en %}
                <h3>My Projects</h3>
                <form action="{% url "create_project" lang request.user.id %}" method="get">
                    <button type="submit" class="btn btn-secondary">Create Project</button>
                </form>
            {% endif %}
        </div>
        <hr>

        <table id="projects" class="table table-striped table-bordered" style="width:100%">
            <thead>
                {% if lang == langCategory.cn %}
                    <tr>
                        <th>项目名称</th>
                        <th>项目地址</th>
                        <th>工程师</th>
                        <th>项目创建者</th>
                        <th>项目创建时间</th>
                        <th>操作</th>
                    </tr>
                {% elif lang == langCategory.en %}
                    <tr>
                        <th>Project Name</th>
                        <th>Project Address</th>
                        <th>Project Engineer</th>
                        <th>Project Creator</th>
                        <th>Project Create Time</th>
                        <th>Operation</th>
                    </tr>
                {% endif %}
            </thead>

            <tbody>
                {% for project in projects %}
                    <tr>
                        <th>{{ project.project_name }}</th>
                        <th>{{ project.project_address }}</th>
                        <th>{{ project.project_engineer }}</th>
                        <th>{{ project.creator.username }}</th>
                        <th>{{ project.create_time }}</th>
                        <th>
                            {% if lang == langCategory.cn %}
                                <button class="btn btn-danger delete" data-url="{% url "project_delete" lang project.id %}">删除</button>

                                <form action="{% url "project" lang project.id %}" method="get">
                                    <button class="btn btn-success">编辑</button>
                                </form>
                            {% elif lang == langCategory.en %}
                                <button class="btn btn-danger delete" data-url="{% url "project_delete" lang project.id %}">Delete</button>

                                <form action="{% url "project" lang project.id %}" method="get">
                                    <button class="btn btn-success">Edit</button>
                                </form>
                            {% endif %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <div class="wrapper hidden">
    	<div class="load-background">
    		<div class="load">
    			<p>loading</p>
    			<div class="k-line k-line1-1"></div>
    			<div class="k-line k-line1-2"></div>
    			<div class="k-line k-line1-3"></div>
    		</div>
    	</div>
    </div>

     <!-- Modal -->
    {% if lang == langCategory.cn %}
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">删除项目</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  确认删除该项目吗？(该项目下所有的选型也会全部被删除)
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger confirm-delete">确定</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
    {% elif lang == langCategory.en %}
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  Are you sure to delete this Project? (All the sizers belong to this project will also be deleted)
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger confirm-delete">Confirm</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
    {% endif %}

{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/datatables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/error_code.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/toastr_time.js' %}"></script>
    <script src="{% static 'js/user_project_list.js' %}"></script>
{% endblock %}
